<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.type.dao.HistoryMapper">
  <resultMap id="BaseResultMap" type="com.type.bean.History">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="perfect" jdbcType="INTEGER" property="perfect" />
    <result column="original_data" jdbcType="VARCHAR" property="originalData" />
    <result column="complete_data" jdbcType="VARCHAR" property="completeData" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, perfect, original_data, complete_data, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.type.bean.History">
    insert into history (id, perfect, original_data, 
      complete_data, create_time)
    values (#{id,jdbcType=INTEGER}, #{perfect,jdbcType=INTEGER}, #{originalData,jdbcType=VARCHAR}, 
      #{completeData,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.type.bean.History">
    insert into history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="perfect != null">
        perfect,
      </if>
      <if test="originalData != null">
        original_data,
      </if>
      <if test="completeData != null">
        complete_data,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="perfect != null">
        #{perfect,jdbcType=INTEGER},
      </if>
      <if test="originalData != null">
        #{originalData,jdbcType=VARCHAR},
      </if>
      <if test="completeData != null">
        #{completeData,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.type.bean.History">
    update history
    <set>
      <if test="perfect != null">
        perfect = #{perfect,jdbcType=INTEGER},
      </if>
      <if test="originalData != null">
        original_data = #{originalData,jdbcType=VARCHAR},
      </if>
      <if test="completeData != null">
        complete_data = #{completeData,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.type.bean.History">
    update history
    set perfect = #{perfect,jdbcType=INTEGER},
      original_data = #{originalData,jdbcType=VARCHAR},
      complete_data = #{completeData,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>